@import '../theme/mixins.scss';

header {
  @include flex(row);
  align-items: center;
  justify-content: space-between;

  h1.MuiTypography-h1 {
    font-size: 1.5rem;
  }

  ul.MuiList-root {
    @include flex(row);
  }
}
