header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  gap: 1.5em;
  padding: 0.75rem 0;
  width: 100%;
}
header a.MuiLink-underlineHover {
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.25em !important;
}