@import '../theme/mixins.scss';

header {
  @include flex(row);
  place-content: center;
  gap: 1.5em;
  padding: 0.75rem 0;
  width: 100%;

  a.MuiLink-underlineHover {
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.25em !important;
  }
}
