@import '../../src/theme/mixins.scss';

div#profile-card {
  @include flex(row);
  place-content: center;
  place-items: center;

  div#profile-card-detail {
    @include flex(column);
    max-width: 100%;

    * {
      line-height: $lineHeight;
    }
  }

  span#down-under {
    display: inline-block;
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
    text-transform: uppercase;
    font-family: 'MinigapBold';
  }

  svg#favourite-icon {
    position: absolute;
  }
}

$svgSize: 32px;

ul#my-tools {
  @include flex(row);
  padding: 0;

  li.MuiListItem-root {
    padding: 0;
    width: auto;

    img {
      max-width: $svgSize;
      max-height: $svgSize;
    }
  }

  ul#more-tools {
    flex-direction: row;

    img#jquery-fix-width {
      max-width: 84px;
    }
  }
}
