@import '../../src/theme/mixins.scss';

div.profile-card {
  // @include flex(row);
  // flex-wrap: wrap;

  span.down-under {
    display: inline-block;
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
    text-transform: uppercase;
    font-family: 'MinigapBold';
  }
}
