@import '../../src/theme/mixins.scss';

div.profile-card {
  @include flex(row);
  flex-wrap: wrap;
  place-content: center;

  span#down-under {
    display: inline-block;
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
    text-transform: uppercase;
    font-family: 'MinigapBold';
  }

  svg#favourite-icon {
    position: absolute;
  }

  ul#my-tools {
    @include flex(row);
    padding: 0;

    li.MuiListItem-root {
      padding: 0;
      width: auto;
    }

    img {
      height: 36px;
    }
  }
}
