@import '../../src/theme/mixins.scss';

$svgSize: 32px;

ul#my-tools {
  @include flex(row);
  padding: 0;

  li.MuiListItem-root {
    padding: 0;
    width: auto;

    img {
      max-width: $svgSize;
      max-height: $svgSize;
    }
  }

  ul#more-tools {
    flex-direction: row;

    img#jquery-fix-width {
      max-width: 84px;
    }
  }
}
